
.inputbox > button{
    background: linear-gradient(90deg, rgb(77, 166, 255), rgb(192, 38, 255));
    color: white;
    border: none;
    border-radius: 10px;

    padding: 10px 25px;

    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    box-shadow:
        0 0 10px rgba(77,166,255,0.5),
        0 0 15px rgba(192,38,255,0.4);

    transition: 0.3s ease;
}

.inputbox > button:hover {
    transform: scale(1.05);

    box-shadow:
        0 0 15px rgba(77,166,255,0.8),
        0 0 20px rgba(192,38,255,0.7);
}

input {
    width: 400px;


    padding: 8px 12px;
    margin: 8px;

    border: none;
    border-radius: 6px;

    background: transparent;

    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

    font-size: 24px;
}

.btnNotesLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    background-color: red;
    
    border-radius: 100%;
    border: 3px solid red;

    mask: url("../assets/icons/müll_entsorgen.svg") no-repeat center;
    mask-size: 1.5rem 1.5rem;

    -webkit-mask: url("../assets/icons/müll_entsorgen.svg") no-repeat center;
    -webkit-mask-size: 1.5rem 1.5rem;


}

.btnNotesLeft:hover {
    cursor: pointer;
    border: 3px solid red;
}

.btnNotesRight {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    background-color: blue;

    border-radius: 100%;

    mask: url("../assets/icons/notiz_schreiben.svg") no-repeat center;
    mask-size: 1.5rem 1.5rem;
    -webkit-mask: url("../assets/icons/notiz_schreiben.svg") no-repeat center;
    -webkit-mask-size: 1.5rem 1.5rem;
}

.btnNotesRight:hover {
    cursor: pointer;
    outline: 3px solid blue;
}